<div id="home-page"  class="page">
	<div class="page-header voice voice-brand">
		<h1 class="pull-left page-title">Dashboard</h1>
	</div>
	<div class="row">    
		<div class="col-sm-7 col-md-7">     
			<div class="module">              
				<div class="module-body"> 
				
				
					<form class="form-search pull-right col-sm-3">  
						<div class="input-group ">    
							<input type="text" ng-model="test" class="form-control search-query" data-filter-table="dt-dom">    
							<span class="input-group-btn"><button class="btn btn-icon"><i class="icon-search"></i></button></span>  
						</div> 						
					</form>
					
					<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered" data-table-name="dt-ajax-objects">
						<thead>
							<tr > 
					<th>Sr.No.</th>
					<th> Manager ID</th>
					<th> Manager Name </th>
					<th> Number Of Projects </th>
				</tr>
						</thead>
						<tbody>
				<tr ng-repeat="manager in managers | filter:test | orderBy: 'mname'"  >
					<td> {{$index + 1}} </td>
					<td><a href="#/manager/{{ manager.mid}}">{{ manager.mid}}</a>  </td>
					<td> {{ manager.mname}} </td>
					<td> {{ manager.mtp}} </td>
				</tr>
			</tbody>
					</table> 
				</div>        
				<footer class="module-footer"></footer>      
			</div>    
		</div>    
		<div class="col-sm-5 col-md-5">      
			<div class="module">              
				<div class="module-body"> 
					<div id="chart-column-stacked" class="chart"></div> 
				</div>        
				<footer class="module-footer"></footer>      
			</div>    
		</div>   
	</div>
</div>
